
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div:focus
{
    outline: none;
}

.window .content
{
    width: 100%;
    height: 100%;
}

.tree
{
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.tree .branch
{
    position: relative;
    margin: 0px;
    padding-left: 16px;
}

.tree .branch li
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
}

.tree .branch label
{
    position: relative;
    margin-left: 16px;
}

.tree .branch input
{
    position: absolute;
    margin: 0px;
    padding: 0px;
}

.tree .branch input:not(:checked) ~ .branch
{
    display: none;
}

.tree .branch span
{
    opacity: 0.8;
}

.tree
{
    box-sizing: border-box;
}

.tree .branch li
{
    padding: 4px;
}


.tree .branch li:after
{
    content: "";
    position: absolute;
    height: 100%;
    top: 12px;
    width: 1px;
    left: -1px;

    pointer-events: none;

    border-left: 1px dotted rgba(0,0,0,0.5);
}

.tree .branch li:first-child:before
{
    content: "";
    position: absolute;
    height: 12px;
    top: 0px;
    width: 1px;
    left: -1px;

    pointer-events: none;

    border-left: 1px dotted rgba(0,0,0,0.5);
}


.tree .branch li:last-child:after
{
    border: 0;
}

.tree .branch input
{
    visibility: hidden;
}

.tree .branch label
{
    margin-left: 8px;
}

.tree label:after
{
    content: "";
    position: absolute;
    left: -11px;
    top: 7px;
    border-top: 1px dotted rgba(0,0,0,0.5);
    width: 10px;
    height: 1px;
}

.tree input ~ label:before
{
    position: absolute;
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    left: -17px;
    top: 3px;
    background-color: white;
    background-image: url(expander_closed.png);
    z-index: 4;
}

.tree input:checked ~ label:before
{
    background-color: white;
    background-image: url(expander_open.png);
    z-index: 4;
}

.tree .branch input:not(:checked) ~ .branch
{
    display: none;
}
