body
{
    background: #008080;
    font-family: arial;
    overflow: hidden;
    padding: 0;
    margin: 0;


    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.window
{
    position: absolute;
    left: 0px;
    top: 0px;

    background: #c0c0c0;
    border: 3px solid transparent;
    border-image: url(outset.png) 3 3;
    padding: 1px;

    display: flex;
    flex-direction: column;
}

.window .titlebar
{
    background: #000080;
    height: 18px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 2px;
    position: relative;

    cursor: default;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.window .titlebar .title
{
    color: white;
    font-weight: bold;
    position: absolute;
    left: 20px;
    font-size: 13px;
    line-height: 18px;
}

.window .titlebar button
{
    width: 16px;
    height: 14px;
    top: 2px;
    position: absolute;
    border: 1px outset;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    outline: none;
    padding: 0px;
    line-height: 14px;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
}

.window .titlebar button:active
{
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid #444;
    border-left: 1px solid #444;
    padding-top: 1px;
}


.window .titlebar button:nth-of-type(1)
{
    right: 2px;
    font-weight: normal;
}

.window .titlebar button:nth-of-type(2)
{
    right: 20px;
    font-size: 30px;
}

.window .titlebar button:nth-of-type(3)
{
    right: 36px;
    font-weight: normal;
    font-size: 25px;
}

.window .titlebar img
{
    position: absolute;
    left: 1px;
    top: 1px;
    height: 16px;
    width: 16px;
    pointer-events: none;
}

.window .menubar
{
    height: 18px;
    margin-bottom: 2px;
}

.window .content
{
    flex-grow: 1;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
}

.window .content .container
{
    background: white;
    border: 1px inset;
    box-sizing: border-box;
    margin: 0px;
    padding: 2px;
}

button
{
    background: #c0c0c0;
    border: 1px outset;
    border-top: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    outline: none;
    padding: 4px;
    line-height: 14px;
    width: 70px;
    vertical-align: middle;
    box-sizing: border-box;
}

button:active
{
    border-bottom: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-top: 2px solid #666;
    border-left: 2px solid #666;
    padding-top: 5px;
    margin-bottom: -1px;
}

.taskbar
{
    position: absolute;
    left: 0px;
    bottom: 0px;

    width: 100%;
    height: 26px;

    background: #c0c0c0;
    border: 3px solid transparent;
    border-image: url(outset.png) 3 3;
    padding: 1px;

    display: flex;
    flex-direction: column;
}

.taskbar .clock
{
    position: absolute;
    border: 2px inset;
    right: 10px;
    top: 3px;
    text-align: center;
    width: 75px;
}

.appdrawer
{
    position: absolute;
    width: 250px;
    height: 400px;
    
    bottom: 34px;
    
    background: #c0c0c0;
    border: 3px solid transparent;
    border-image: url(outset.png) 3 3;
    padding: 1px;
}

.appdrawer .app
{
    width: 100%;
    vertical-align: middle;
    padding: 10px;
    
    box-sizing: border-box;
}

.appdrawer .app:hover
{
    background: #0000da;
    color: white;
}