body
{
    background: #ffe000;
    background-image: url(background.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom right;
    font-family: arial;
    overflow: hidden;
    padding: 0;
    margin: 0;


    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.window
{
    position: absolute;

    min-width: 200px;
    min-height: 100px;

    border-radius: 2px;
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.1);

    background: white;
    font-size: 13px;
    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.window .titlebar
{
    background: rgba(0,0,0,0.1);
    height: 18px;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    padding: 3px;

    cursor: default;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.window .titlebar .title
{
    color: #555;
    font-weight: bold;
    position: absolute;
    left: 24px;
    font-size: 13px;
    line-height: 18px;
}

.window .titlebar button
{
    width: 20px;
    height: 100%;
    top: 0;
    position: absolute;
    outline: none;
    padding: 2px;
    line-height: 14px;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
}

.window .titlebar button:not(:hover)
{
    background-color: transparent;
}

.window .titlebar .close
{
    right: 0px;
    font-weight: normal;
}

.window .titlebar .close:hover
{
    background-color: tomato;
}

.window .titlebar .maximize
{
    right: 20px;
    font-size: 30px;
}

.window .titlebar .minimize
{
    right: 40px;
    font-weight: normal;
    font-size: 25px;
}

.window .titlebar .icon
{
    position: absolute;
    left: 4px;
    top: 4px;
    height: 16px;
    width: 16px;
    pointer-events: none;

    background-image: url(noicon.png);
}

.window .menubar
{
    background: rgba(0,0,0,0.05);
    height: 18px;
    padding: 3px;
    margin-bottom: 2px;
}

.window .content
{
    flex-grow: 1;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
}

.window .content .container
{
    background: white;
    border: 1px inset;
    box-sizing: border-box;
    margin: 0px;
    padding: 2px;
}

button
{
    background: rgba(255,255,255,0.8);
    border: 0px;

    outline: none;
    padding: 4px;
    line-height: 100%;
    width: 80px;
    vertical-align: middle;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    transition: box-shadow 0.2s, background 0.2s;
}

button:active
{
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 5px;
    border-bottom: 0px;
    margin-bottom: -1px;
}

button:hover
{
    background-color: rgba(255, 255, 100, 0.8);
}

.taskbar
{
    position: absolute;
    left: 0px;
    bottom: 0px;

    width: 100%;
    height: 30px;

    background: #fff;

    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding-right: 100px;
    box-sizing: border-box;

    z-index: 100000000000;
}

.taskbar .start
{
    margin-right: 10px;
    padding-left: 16px;

    flex-shrink: 0;

    background: #ffe000;

    border-bottom-right-radius: 30px;
}

.taskbar .start:active
{
    border: 0px;
}

.taskbar .start:before
{
    content: "";
    background-image: url(start.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 8px;
    top: 5px;
    display: inline-block;
}

.taskbar .start:active:before
{
    top: 6px;
}

.taskbar .instance
{
    width: 150px;
    text-align: center;
    margin: 0px 1px;
    background: rgba(0,0,0,0.1);
}

.taskbar .clock
{
    position: absolute;
    right: 15px;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
    top: 6px;
    text-align: center;
}

.appdrawer
{
    position: absolute;
    width: 250px;
    height: 400px;
    bottom: 30px;
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    border-top-right-radius: 50px;
    overflow: hidden;
    animation-duration: 0.2s;
    animation-name: slideup;
    animation-direction: forward;
    animation-timing-function:ease-out;
}

@keyframes slideup
{
    from {
        transform-origin: left;
        transform: perspective(800px) rotateY(90deg);
        opacity: 1;
    }
    to {
        transform-origin: left;
        transform: perspective(800px) rotateY(0deg);
        opaticy: 1;
    }
}

.appdrawer .app
{
    width: 100%;
    vertical-align: middle;
    padding: 10px;

    transition: all 0.1s;
    box-shadow: 0;

    box-sizing: border-box;
}

.appdrawer .app:hover
{
    background: #ffe000;
    box-shadow: 0px 0px 10px 0px #ffe000;
}
